<!--
<p>
  shopping-item works!
</p>
-->
<!--add item form-->
<!--instancier  cette template qu'on a -->
<!--addItem() est une methode qu'on la trouve dans notre shop-item.ts-->

<form #frm="ngForm" (ngSubmit)="addItem(frm)" *ngIf="!toggleForm" >
    <h2 id="add-item"Add Item ></h2>
  
    <div class="form-group">
      <label for="">Name : </label>
      <input type="text" class="form-control" name="itemName" value="" ngModel>
    </div>
    <div class="form-group">
        <label for="">Description : </label>
        <input type="text" class="form-control" name="itemDesc" value="" ngModel>
    </div>
  
    <div class="form-group">
        <label for="">Price : </label>
        <input type="text" class="form-control" name="itemPrice" value="" ngModel>
    </div>
  
    <div class="form-group">
        <label for="">Picture : </label>
        <input type="text" class="form-control" name="itemPic" value="" ngModel>
      </div>
  
      <div class="form-group">
          <label for="">Category : </label>
          <input type="text" class="form-control" name="itemCat" value="" ngModel>
        </div>
    
        <button type="submit" name="button" class="btn btn-success">Add Item</button>
  
  </form>
  <!---------------form to edit--------------------------->
  
  <form #editfrm="ngForm" (ngSubmit)="editItem(editForm)" *ngIf="toggleForm" >
    <h2 id="edit-item"Edit Item ></h2>
  
    <div class="form-group">
      <label for="">Name : </label>
      <!--to load the content  : [ngModel]="selectedItem.itemCat" -->
      <input type="text" class="form-control" name="itemName" value="" [ngModel]="selectedItem.itemName">
    </div>
    <div class="form-group">
        <label for="">Description : </label>
        <input type="text" class="form-control" name="itemDesc" value="" [ngModel]="selectedItem.itemDesc">
    </div>
  
    <div class="form-group">
        <label for="">Price : </label>
        <input type="text" class="form-control" name="itemPrice" value="" [ngModel]="selectedItem.itemPrice">
    </div>
  
    <div class="form-group">
        <label for="">Picture : </label>
        <input type="text" class="form-control" name="itemPic" value="" [ngModel]="selectedItem.itemPic">
      </div>
  
      <div class="form-group">
          <label for="">Category : </label>
          <input type="text" class="form-control" name="itemCat" value="" [ngModel]="selectedItem.itemCat">
        </div>
  
        <button type="submit" name="button" class="btn btn-success">Save</button>
  
  </form>
  <h2 id="shopping-list"> MakeUp List </h2>
<!--show all products-->
  <div *ngFor="let item of shoppingItemList" class="">
    <div id="checkbox">
      <input type="checkbox" name="">
    </div>

 
    <div id="item-name">
      {{item.itemName}}
    </div>
  
    <div id="item-desc">
      {{item.itemDesc}}
    </div>
    
    <div id="item-price">
      {{item.itemPrice}}
    </div>

    <div id="item-pic">
      {{item.itemPic}}
    </div>
          
    <div id="item-cat">
      {{item.itemCat}}
    </div>  
  
    <div id="edit-btn">
        <button type="button" name="button" class="btn btn-primary" (click)="showEditForm(item)" [disabled]="toggleForm">Edit</button>
      </div>
  
      <div id="delete-btn">
        <button type="button" name="button" class="btn btn-danger" (click)="deleteItem(item._id)">Delete</button>
      </div>
    <br><br>
  </div>


